<div flex layout="row" layout-align="center center">
    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
        <md-content flex id="content" class="md-padding">
            <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
                <form name="loginForm" data-ng-submit="login(loginForm)">
                    <md-input-container>
                        <label>Userid:</label>
                        <input ng-model="user.userid" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Password:</label>
                        <input type="email" ng-model="user.password" required>
                    </md-input-container>
                    <md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1': (loginForm.$dirty && loginForm.$valid) }" aria-label="Login">Login</md-button>
                </form>
        </md-content>
        </div>
    </div>
